.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.iconContainer {
  border-radius: 50%;
  padding: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 11px;
  margin: 2px 0 0;
}
.container:hover {
  opacity: 0.85;
}
