.recentText {
    color: #f52f2f;
    display: flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
  }
  .types {
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
    margin-left: 10px;
  }