.button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }
  .hairline {
    height: 15px;
    width: 100%;
    background-color: #f6f9ed;
    margin-top: 20px;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px
  }
  .location {
    display: flex;
    flex-direction: column;
  }
  .miniDetails {
    display: flex;
    flex-direction: column;
  }
  