.children {
  margin-top: 10vh;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .container::-webkit-scrollbar {
    display: none;
  }
  .container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
  }
  .children {
    margin-top: 8vh;
  }
}
